pkgbase = jq
	pkgdesc = Command-line JSON processor
	pkgver = 1.8.1
	pkgrel = 3
	url = https://jqlang.github.io/jq/
	arch = x86_64
	license = MIT
	makedepends = autoconf
	makedepends = automake
	makedepends = bison
	makedepends = flex
	makedepends = git
	makedepends = python
	depends = glibc
	depends = oniguruma
	source = git+https://github.com/jqlang/jq.git#tag=jq-1.8.1
	sha512sums = 756a136b20991bbe24ab8b1b92511b877502697146dd1c492d388ee4bf3f6c968e91e6f45078519575f57407f091e171457fd16f6794002660b493766efa3725

pkgname = jq
